@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*


    Basics.

    Husk vi i praksis på nuværende tidspunk overskriver index.css fra sitet.


*/

* {
    box-sizing: border-box;
}
:root {

    --font-family : "Rubik", sans-serif;

}
html {
    margin : 0;
    padding : 0;
}


body {
    background-color: #ebebeb;
    font-size: 16px;
    font-family: var(--font-family);
    margin : 0;
    padding : 0;
    height : 100%;
    width: 100%;
}

.p {
    margin: 16px 0;
}

/*

    Sections

*/

.section-description {
    margin : 20px 0;
}

.section-preview {
    margin : 50px 0 0 0;
}

/*


    Headings.


*/

.header {
    display: flex;
    justify-content: start;
    align-items: center;
    color : #6667a8
}

.header img {
    margin-right : 20px;
}

.heading {
    color : #6667a8;
    margin : 10px 0;
}

/*


    Effects.


*/

.hide {
    display: none;
}

/*


    Forms.


*/

textarea {

    width: 100%;
    min-height: 200px;
    resize: none;
}

textarea.tmpl {
    min-height: 350px;
    resize: vertical;
}

label {
    font-family: var(--font-family);
    line-height: 25px;
    padding : 5px 0;
    display: block;
    padding : 10px 0;
    color : #6667a8;
}

button {
    padding : 10px;
    background-color: #6667a8;
    color: #fff;
    border : 0;
    cursor: pointer;
    font-family: var(--font-family);
}


/*


    Preview.


*/
.hero {
    min-height: 50vh;
}


/*


    navigation


*/
.page-wrapper {

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 40px;

    
}

.content {
    max-width: 79vw;
}